* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  margin: 0;
  padding: 0;
}

.logo {
  width: 60px;
  height: auto;
  border-radius: 10px;
}

.heads {
  color: #fff;
}

.products {
  background: #fff;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}

.explore {
  height: 50vh;
}

.products h3 {
  top: 20px;
  padding: 10px auto;
  top: 2px;
}

.products .product-img {
  background-image: url("./images/products-bg.jpg");
  height: 30vh;
  background-repeat: no-repeat;
}

.about {
  background-image: url("./images/aboutus.jpg");
  /* height: 100vh; */
  background-repeat: no-repeat;
}

.contact {
  background-image: url("./images/contactus.jpg");
  height: 100vh;
  background-repeat: no-repeat;
}
